 ## Welcome to Python, Let us start by printing out the famous Hello World

In [1]:
print("Hello World")

Hello World

## Concatenation by using the + sign

In [3]:
print("Hello " + "Everybody" + " I'm Home!") # Famous words of Enzo Pachele in the TV Series "Home Sweet Home"

Hello  Everybody I'm Home!

## User Input by the builtin "Input" function to prompt and read input

In [7]:
yourname=input("What is your name?")
print("your name is",yourname)

What is your name?Belete
your name is Belete

## Other builtin functions are  min(), max(), abs(), round(), type(), pow().....

In [8]:
print(max(30,40,90))  # maximum  of given numbers

90

In [10]:
print(min(30,40,90))  # minimu of given numbers

30

In [11]:
print(round(225.1375,2)) #round to the number of digits in the second argument

225.14

In [12]:
print(abs(-56))

56

In [13]:
print(pow(10,3))

1000

In [12]:
type(90) # What type is the data - int for integer

int

In [13]:
type(90.345) # What type is the data - floating type data

float

In [14]:
type([1,2,3]) # What type is the data, we will learn about lists later on - they are like arrays in other languages

list

In [20]:
type((1,2,3)) # What type is the data, we will learn about tuples later on - they are like unmodifiable arrays

tuple

In [16]:
type({1:"US",2:"CA",3:"GB"}) # What type is the data, we will learn about dictionaries later on

dict

## There are also functions that change types

In [17]:
print(int(3.23456)) # converts to integer

3

In [18]:
print(float(3)) # converts to floating number

3.0

In [19]:
print(int("280")) # converts to string to integer

280

In [21]:
print(str(5260)) # converts to String

5260

## The above (2560)  looks like a number.. but it is not... it is a string...

In [22]:
print(10*str(2560))  # This will not give you 25,600 as you may have expected. 2560 is a string and repeated 10 times

2560256025602560256025602560256025602560

## Type conversion is necessary when you concatenate text and numbers in your final output

In [24]:
print(str(3)+ " multiplied by " + str(2) + " equals " + str(2*3))

3 multiplied by 2 equals 6

# Assigning values to a variable

In [25]:
x=100
y=2
z=x*y
print(z)

200

In [26]:
x=100
y=2
x*=y  # this is equivalent to x = x*y  it is called augmented assignment
print(x)

200

## Other Augmented Assignments are like 
##    +=      -=      /=     %=   //=     you should try them

In [27]:
x=100
y=2
x+=y  # this is equivalent to x = x+y  
print(x)

102

## new line \n   tab \t

In [1]:
todolist="My to do list:\n\tVaccum the Basement\n\tWash the Dishes\n\tWater the Plants"
print(todolist)

My to do list:
	Vaccum the Basement
	Wash the Dishes
	Water the Plants

## String methods  title(), upper(), lower(), lstrip(), rstrip(), strip()

In [3]:
yourname="belete seboka"
yourname.title()

'Belete Seboka'

In [4]:
yourname.upper()

'BELETE SEBOKA'

In [5]:
yourname.lower()

'belete seboka'

In [8]:
yourfirstname = "  Belete    "

In [9]:
yourfirstname.lstrip()

'Belete    '

In [10]:
yourfirstname.rstrip()

'  Belete'

In [11]:
yourfirstname.strip()

'Belete'

## Using Variables in Strings
## From Python 3.6 onwards you can use variables directly in Strings
## From Python 3.5 and before you have to use format

In [14]:
# Python 3.6 Onwards
customer="Belete"
print(f"Welcome Back,{customer}!")  # notice the f preceding the quotation

Welcome Back,Belete!

In [15]:
# Python 3.5 and backwards
customer="Belete"
print("Welcome Back,{}!".format(customer)) #   see the correspondence   {} --> customer

Welcome Back,Belete!

In [18]:
# Python 3.5 and backwards  with multiple variables 
customer_1="Belete"
customer_2="Abebe"
print("Welcome, {} and {}!".format(customer_1,customer_2))

Welcome, Belete and Abebe!